header {
  background-color: #562c81;
  color: white;
  padding: 10px;
  font-family: sans-serif;
  font-weight: lighter;
}

body {
  background-color: #f0f0f0;
}

input {
  border-style: groove;
  border-radius: 5px;
  width: 350px;
  height: 35px;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal {
  position: fixed;
  background-color: rgba(37, 37, 37, 0.7);
  width: 100vw;
  height: 100vh;
}

.modalContainer {
  background-color: white;
  width: 500px;
  height: 180px;
}

.moveButtons {
  margin-top: 4rem;
  margin-left: 1.4rem;
}

.youSure {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.delete {
  display: inline;
  font-size: 20px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.save {
  background-color: #562c81;
  color: white;
  border-radius: 5px 5px;
  border-style: none;
  width: 65px;
  height: 25px;
  float: right;
  cursor: pointer;
}

button.cancel {
  background-color: #b6b6b6;
  color: #343434;
  border-style: none;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button.confirm {
  background-color: #dc2626;
  color: white;
  border-style: none;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: bold;
  margin-left: 13rem;
  cursor: pointer;
}

img,
textarea {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

.img-container,
img {
  width: 100%;
}

.flex {
  display: flex;
}

.end {
  justify-content: flex-end;
}

.right {
  float: right;
  cursor: pointer;
  font-size: 1.4rem;
  color: purple;
}

p {
  font-size: 25px;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

.newEntry {
  background-color: #562c81;
  color: white;
  border-radius: 5px 5px;
  border-style: none;
  width: 65px;
  height: 25px;
  float: right;
  cursor: pointer;
  margin-top: 1.4rem;
}

textarea {
  resize: none;
}

.entries {
  margin-left: 25px;
  cursor: pointer;
}

.noEntry {
  text-align: center;
}
